<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HostViewFancyJSPBAD</servlet-name>
        <jsp-file>/jsp/ShowTable-Host-BAD.jsp</jsp-file>
    </servlet>
    
    
    <servlet>
        <servlet-name>CreateHost</servlet-name>
        <servlet-class>view.CreateHost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountTable</servlet-name>
        <servlet-class>view.AccountTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostTable</servlet-name>
        <servlet-class>view.HostTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedTable</servlet-name>
        <servlet-class>view.FeedTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFeed</servlet-name>
        <servlet-class>view.CreateFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>view.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageView</servlet-name>
        <servlet-class>view.ImageView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageDelivery</servlet-name>
        <servlet-class>view.ImageDelivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageTable</servlet-name>
        <servlet-class>view.ImageTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HostViewFancyJSPBAD</servlet-name>
        <url-pattern>/HostViewFancyJSPBAD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHost</servlet-name>
        <url-pattern>/CreateHost</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AccountTable</servlet-name>
        <url-pattern>/AccountTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostTable</servlet-name>
        <url-pattern>/HostTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedTable</servlet-name>
        <url-pattern>/FeedTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFeed</servlet-name>
        <url-pattern>/CreateFeed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageView</servlet-name>
        <url-pattern>/ImageView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageDelivery</servlet-name>
        <url-pattern>/image/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageTable</servlet-name>
        <url-pattern>/ImageTable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>WebScraper</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>persistence/em</persistence-context-ref-name>
        <persistence-unit-name>JPA-Tomcat-ScoreDB</persistence-unit-name>
    </persistence-context-ref>
</web-app>
